<div class="tv-modal-player js-modal-player" role="dialog" aria-modal="true" aria-label="{{- 'tv.modal_title' | t -}}">
  <div class="tv-modal-player__inner">
    <button class="tv-modal-player__close js-modal-player-close" aria-label="{{- 'tv.close' | t -}}"></button>
    <div class="tv-modal-player__body">
      <div class="tv-modal-player__spinner"></div>
      <div class="tv-modal-player__video video-player js-modal-player-video" data-autoplay="true"></div>
      <div class="tv-modal-player__content js-modal-player-content"></div>
    </div>
  </div>
</div>
