<div class="yotpo-widget-instance" auto-inject-target-selector=".ProductForm__Variants" 
  data-yotpo-instance-id="388619" product-handle="{{product.handle}}" widget-type="SubscriptionsAddToCartWidget" full-format-product-price="{{ product.price | money }}"></div>
<style>
.yotpo-widget-subscriptions-add-to-cart .yotpo-how-does-it-work-wrapper {
  text-align: left;
}
.is-floating form .yotpo-widget-subscriptions-add-to-cart {
  display: none;
}
</style>
